RewriteEngine On

#RewriteRule ^\.htaccess$ - [F]

RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /src/index.html [NC,L]

RewriteCond %{REQUEST_URI} !^/src/.*$
RewriteRule ^(.*)$ /src/$1

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]