*:focus {
  outline: 0;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: arial;
}
input {
  font-size: 14px;
  font-family: arial;
}
button.add {
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  margin: -4px 0;
  color: #ddd;
  border: none;
  background: none;
}
button.add:before {
  content: '+';
}
button.add:hover {
  background: #bbb;
  color: white;
}
button.add.drag {
  background: yellow !important;
}
button.menu {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
#editor {
  float: left;
  width: 85%;
}
.beat {
  padding-bottom: 100px;
}
.beat > div > button.add {
  width: 100%;
}
.branch-set {
  background: #ddd;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}
.branch-set .container {
  width: calc(100% - 30px);
}
.branch-set > .container {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
}
.branch-set > button.add {
  position: absolute;
  right: 0;
  top: 5px;
  width: 20px;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}
.branch-set > button.add:hover {
  background: rgba(0, 0, 0, 0.2);
}
.branch {
  background: white;
  border: 2px solid black;
  margin: 5px !important;
  margin-left: 0 !important;
  position: relative;
  box-sizing: border-box;
  flex: 1;
}
.branch > .name {
  width: 100%;
  box-sizing: border-box;
  background-color: #ccc;
  border: 0;
  padding: 5px;
  font-size: 80%;
}
.branch > .icons {
  position: absolute;
  top: 0;
  right: 20px;
}
.branch > .icons .condition {
  color: white;
  background: black;
  margin: 0 3px;
}
.branch > .icons .effect {
  color: black;
  background: white;
  margin: 0 3px;
}
.branch > .container {
  padding: 0 10px;
}
.branch > .container > * {
  margin: 2px 0;
}
.branch > .container > button.add {
  width: 100%;
}
.branch.collapsed {
  flex: 0.1;
  opacity: 0.5;
}
.branch.collapsed > .container {
  display: none;
}
.branch > button.menu {
  background: white;
}
.line-set {
  border: 1px dashed black;
  margin: 10px 0;
  position: relative;
}
.line-set .character {
  width: 100%;
  box-sizing: border-box;
  background-color: #444;
  color: white;
  border: 0;
  padding: 5px;
  font-size: 80%;
}
.line-set > button.menu {
  background: white;
}
.line-set > button.add {
  width: 100%;
  background: #fdd;
  border: 0;
}
.line {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #bbb;
  display: block;
  position: relative;
}
.line.has-notes {
  border-right: 10px solid #999;
}
.line > input {
  width: 100%;
  border: 0;
}
.line > .icons {
  position: absolute;
  top: 0;
  right: 0;
}
.line > .icons .condition {
  color: white;
  background: black;
  margin: 0 3px;
}
.line > .icons .effect {
  color: black;
  background: white;
  margin: 0 3px;
}
.goto,
.ending,
.specialEvent {
  background: #bbb;
  margin: 10px 0;
  position: relative;
  padding: 5px;
  font-size: 80%;
  font-style: italic;
  overflow: hidden;
}
.goto > span,
.ending > span,
.specialEvent > span {
  display: block;
  margin-right: 5px;
}
.goto > button.menu,
.ending > button.menu,
.specialEvent > button.menu {
  background: white;
}
.goto > input,
.ending > input,
.specialEvent > input {
  background: inherit;
  color: inherit;
  font-size: inherit;
  display: block;
  border: 0;
  width: 100%;
}
#inspector {
  position: fixed;
  right: 0;
  top: 0;
  width: 15%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 90%;
}
#inspector p {
  overflow: hidden;
}
#inspector textarea {
  width: 100%;
}
.has-inspector {
  box-shadow: #ffa 0px 0px 15px 5px;
  z-index: 10;
  position: relative;
}
#save {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}
#saved-alert {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 15px;
  background: #888;
  color: black;
  display: none;
}
#diagram-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.diagram {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #ddd;
}
#analyzer-button {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 1000;
}
.analyzer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #ddd;
  padding: 30px;
}
