html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#stage {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#add-to-homescreen {
  font-size: 50px;
  background: black;
  color: white;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.connect-create,
.connect-join,
.connect-setup {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Comic Neue Angular';
}
.connect-create {
  color: white;
  top: 45%;
}
.connect-create .connect-create-instructions {
  width: 65%;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1;
}
.connect-create .connect-create-word {
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  margin-top: 15px;
}
.connect-join {
  color: white;
  top: 45%;
}
.connect-join .connect-join-instructions {
  width: 80%;
  margin: 0 auto 15px;
  font-size: 22px;
  line-height: 1;
}
.connect-join input {
  width: 300px;
  font-family: 'Comic Neue Angular';
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  background: white;
  color: black;
  text-align: center;
}
.connect-join button {
  font-family: 'Comic Neue Angular';
  font-size: 30px;
  border-radius: 5px;
  background: #900;
  color: black;
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
}
.connect-setup {
  position: absolute;
  width: 100%;
  height: 56.22188906vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 4vw;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.connect-setup a {
  display: inline-block;
  background: url(/assets/img/title/button.png) no-repeat center / 100% 100%;
  width: 25vw;
  height: 8.94886364vw;
  padding-bottom: 0.25em;
  box-sizing: border-box;
  color: black;
  font-size: 2.1vw;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  opacity: 0.9;
  transform: rotate(5deg) scale(0.9);
  transition: transform 0.5s;
}
.connect-setup a:nth-child(2n) {
  transform: rotate(-5deg) scale(0.9);
}
.connect-setup a.selected {
  background-image: url(/assets/img/title/button-highlighted.png);
  opacity: 1;
  transform: rotate(5deg) scale(1);
}
.connect-setup a.selected:nth-child(2n) {
  transform: rotate(-5deg) scale(1);
}
.connect-setup a.go {
  opacity: 1;
  transform: none;
}
.connect-setup a:before,
.connect-setup a:after {
  height: 100%;
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
}
.connect-setup a div {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}
.connect-setup a .smaller {
  font-size: 85%;
}
.connect-setup p {
  margin: 0;
  font-size: 2.5vw;
}
.connect-setup .part-2 a {
  width: 20vw;
  height: 7.15909091vw;
  padding: 0 2vw;
  margin: 0 -0.5vw;
}
.connect-setup .part-2 a div {
  margin-top: -0.8vw;
}
.connect-setup .part-3 a {
  height: 20vw;
  transform: scale(0.9);
  transition: transform 0.5s;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}
.connect-setup .part-3 a.selected {
  transform: scale(1);
  filter: none;
  -webkit-filter: none;
}
.connect-setup .part-3 a[data-value=jasp] {
  background-image: url(/assets/img/title/jasp.png);
}
.connect-setup .part-3 a[data-value=morro] {
  background-image: url(/assets/img/title/morro.png);
}
.connect-setup.no-part-2 {
  padding-top: 10vw;
}
.connect-setup.no-part-2 .part-2 {
  display: none;
}
.connect-setup.no-part-2 p {
  margin-top: 4vw;
}
.connect-setup.no-part-2 .go {
  margin-top: 3vw;
}
.connect-setup.retry .part-1 {
  display: none;
}
.connect-setup.retry p {
  margin-top: 4vw;
}
.connect-back {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  width: 15vw;
  height: 5.36931818vw;
  border: 0;
  background: url(/assets/img/title/button-back.png) no-repeat center / 100% 100%;
  z-index: 1;
}
